<h1>Listing contacts</h1>

<table>
  <tr>
    <th></th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Homepage</th>
    <th>Phone</th>
    <th>City</th>
    <th>Street</th>
    <th>Post code</th>
    <th>Tag names</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= gravatar_image_tag(contact.email, :alt => default_gravatar_image) %></td>
    <td><%=h contact.first_name %></td>
    <td><%=h contact.last_name %></td>
    <td><%=h contact.email %></td>
    <td><a href='http://<%=h contact.homepage %>'><%=h contact.homepage %></a></td>
    <td><%=h contact.phone %></td>
    <td><%=h contact.city %></td>
    <td><%=h contact.street %></td>
    <td><%=h contact.post_code %></td>
    <td><%=h contact.tag_names %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


