<table>
<tr><td>
  <b>First name:</b></td><td>
  <%=h @contact.first_name %>
</td></tr>

<tr><td>
  <b>Last name:</b></td><td>
  <%=h @contact.last_name %>
</td></tr>

<tr><td>
  <b>Email:</b></td><td>
  <%=h @contact.email %>
</td></tr>

<tr><td>
  <b>Homepage:</b></td><td>
  <%=h @contact.homepage %>
</td></tr>

<tr><td>
  <b>Phone:</b></td><td>
  <%=h @contact.phone %>
</td></tr>

<tr><td>
  <b>City:</b></td><td>
  <%=h @contact.city %>
</td></tr>

<tr><td>
  <b>Street:</b></td><td>
  <%=h @contact.street %>
</td></tr>

<tr><td>
  <b>Post code:</b></td><td>
  <%=h @contact.post_code %>
</td></tr>
<tr><td>
  <b>Tag names:</b></td><td>
  <%=h @contact.tag_names %>
</td></tr>
</table>




<%= link_to ' Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
